* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {

        /* fonts */
    font-family: "Poppins", sans-serif;
    font-weight: 400;                   /* regular */
    --fw-poppins-extra-light: 200;
    --fw-poppins-semi-bold: 600;


        /* colours */
    --clr-red: hsl(0, 78%, 62%);
    --clr-cyan: hsl(180, 62%, 55%);
    --clr-orange: hsl(34, 97%, 64%);
    --clr-blue: hsl(212, 86%, 64%);

    --clr-very-dark-blue: hsl(234, 12%, 34%);
    --clr-grayish-blue: hsl(229, 6%, 66%);
    --clr-very-light-gray: hsl(0, 0%, 98%);

        /* media widths */
    --media-mobile: 23.438rem;
    --media-desktop: 90rem;

}

main {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
}

hgroup {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

.sub-heading {
    font-size: .938rem;
    color: var(--clr-grayish-blue);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding-block: 2rem;
}

.card {
    box-shadow: 0px 15px 30px -11px var(--clr-grayish-blue);
    border-radius: 0.5rem;
    padding: 1.75rem;

    > .flex-container {
        display: flex;
        flex-direction: column;
        /* flex: 0 0 auto; */
    }

    > div p {
        font-size: 0.813rem;
        color: var(--clr-grayish-blue);
    }

    > div img {
        align-self: end;
        margin-top: 2rem;
    }  
}

.card-one {
    border-top: solid var(--clr-cyan);
}

.card-two {
    border-top: solid var(--clr-red);
}

.card-three {
    border-top: solid var(--clr-orange);
}

.card-four {
    border-top: solid var(--clr-blue);
}  

.extra-light {
    font-weight: var(--fw-poppins-extra-light);
}

.semi-bold {
    font-weight: var(--fw-poppins-semi-bold);
}

    /* Appropriate according to card design  */
@media screen and (min-width: 39rem) {
    .grid-container {
        grid-template-columns: repeat(6, minmax(0,1fr));
        grid-template-rows: repeat(4, minmax(0,1fr));
    }
    
    .card-one {
        grid-column: 1 / 3;
        grid-row: 2 / 4;
    }

    .card-two {
        grid-column: 3 / 5;
        grid-row: 1 / 3;
    }

    .card-three {
        grid-column: 5 / 7;
        grid-row: 2 / 4;
    }

    .card-four {
        grid-column: 3 / 5;
        grid-row: 3 / 5;
    }
}